

<meta name="google-site-verification" content="aq3k7_DmXMazl9ySFHBu2k5mF4ZExaVLaC0qImSoSro" />



<!-- Google tag (gtag.js) - multiple accounts -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WT93W2845E"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-WT93W2845E'); // goblog google
  gtag('config', 'G-XHCGVT06EJ'); // raisfazriansyah722@gmail.com
  gtag('config', 'G-L239NSVMTN'); // indrianitresna42@gmail.com
  gtag('config', 'G-XK27E9HEDZ'); // r.fazriansyah@gmail.com
  gtag('config', 'G-LJ7MJ4Q2VW'); // raisfazriansyah01@gmail.com
  gtag('config', 'G-W9876DR1JZ'); //asri38770@gmail.com
  gtag('config', 'G-YFK8DZ3FHK'); //raisfazriansyah4@gmail.com
  gtag('config', 'G-5RHX9ESPY6'); //simerah9250@gmail.com
  gtag('config', 'G-59F9MSH3TZ'); //nyolspa1@gmail.com
  gtag('config', 'G-F373NVXTWS'); //boktem78@gmail.com
  gtag('config', 'G-137DJLDD8M'); //jsamsu226@gmail.com
  gtag('config', 'G-ZT95SW0ZHJ'); //ninggrai@gmail.com
</script><script>
(function(w,d,s,l,i){
  w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
  j.async=true;
  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
  f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWD665DQ');
</script>









